page-nosotros {
    .fondoNos{
        background-image: url('../assets/imgs/gato_luna.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        
        }
        .subtitle {
            
            color: #fff;
          }

}
