<ion-header>
    <ion-navbar color="primary">
      <ion-title>{{ titl }}</ion-title>
    </ion-navbar>
  </ion-header>
   
  <ion-content padding>
    <form [formGroup]="form">
      <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
        <div [hidden]="!form.controls.name.errors.required">
          Campo Obligatorio
        </div>
      </ion-item>
   
      <ion-item>
        <ion-label stacked>Telefono</ion-label>
        <ion-input type="tel" formControlName="tel"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.tel.valid && (form.controls.tel.dirty || form.controls.tel.touched)" color="danger">
        <div [hidden]="!form.controls.tel.errors.required">
          Campo Obligatorio
        </div>
      </ion-item>
   
      <div padding>
        <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Guardar</button>
      </div>
    </form>
  </ion-content>